*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --base: #000000;
    --base-100: #eeeaea;
    --base-400: #5b5b5b;
    --base-800: #232121;
    --crimson: #684A54;
    --crimosn-100: #cfbdc3;
    --crimson-400: #a87687;
    --crimson-800: #684A54;
    --turquoise: #4A685E;
    --turquoise-100: #dfeee9;
    --turquoise-400: #77ac9b;
    --turquoise-800: #4A685E;

}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.25rem;
    padding-bottom: 1000px;
}

a {
    text-decoration: none;
    color: var(--crimson-800);
    &:hover {
        text-decoration: underline;
    }
}

header {
    padding: 0.625rem;
    padding-bottom: 0.625rem;
    display: flex;
    justify-content: space-between;
    max-width: 90rem;
    margin: auto;
    border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.1);

    .logo-holder {
        display: flex;
        padding: 0.625rem;
        align-items: center;
        font-weight: 600;
        color: var(--base);

        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            background-color: var(--base);
            color: var(--base-100);
            height: 4rem;
            width: 4rem;
            margin-right: 1.25rem;
            border-radius: 50%;
        }
        .logo.text {
            flex: 1;
        }
    }
    nav {
        display: flex;
        align-items: center;
        ul {
            display: flex;
            list-style-type: none;
            gap: 0.375rem;
            li {
                display: inline-block;
                a {
                    display: inline-block;
                    padding: 0.625rem 1.25rem;
                    color: var(--base-400);
                    &:hover {
                        background-color: var(--base-100);
                        border-radius: 0.625rem;
                        text-decoration: none;
                    }
                }
            }
        }
        .mobile-toggle {
            display: none;
            color: var(--base);
            padding: 0.625rem;
            @media (max-width: 48rem) {
                display: inline-block;
                position: absolute;
                top: 1.25rem;
                right: 1.25rem;
            }
        }
    }

    @media (max-width: 64rem) {
        flex-direction: column;
        align-items: center;
    }

    @media (max-width: 48rem) {
        flex-direction: column;
        align-items: center;
        nav {
            margin-top: 0.625rem;
            width: 100%;
           ul {
            display: none;
            flex-direction: column;
            text-align: center;
            width: 100%;
            a {
               width: 100%; 
            }
            &.active {
                display: flex;
            }
           } 
        }
    }
}

.container {
    max-width: 90rem;
    margin: auto;
    gap: 1.875rem;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;

    @media (max-width: 90rem) {
        padding-left: 1.875rem;
        padding-right: 1.875rem;
    }
}

.button {
    display: inline-block;
    padding: 0.625rem 1.875rem;
    background-color: var(--turquoise-800);
    color: var(--base-100);
    border-radius: 0.625rem;
    transition: ease 0.3s all;
    &:hover {
        text-decoration: none;
        background-color: var(--base-800);
    }
    &.white {
        background-color: var(--base-100);
        color: var(--base-800);
        &:hover {
            background-color: var(--base-400);
            color: var(--base-100);
        }
    }
    &.black {
        background-color: var(--base-800);
        color: var(--base-100);
        &:hover {
            background-color: var(--base-400);
            color: var(--base-100);
        }

    }
}

h1 {
    font-size: 4rem;
    line-height: 1;
    margin-bottom: 0.625rem;
    small {
        display: block;
        font-weight: 100;
    }
    @media (max-width: 90rem) {
        font-size: 3rem;
    }
}

.hero {
    display: flex;
    @media (max-width: 64rem) {
        flex-direction: column;
    }
    .hero-crimson {
        flex: 1;
        background-color: var(--crimson);
        border-radius: 1.857rem;
        padding: 0 1.875rem;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        img {
            margin-top: -3.75rem;
            max-width: 26.25rem;
            margin-bottom: -0.625rem;
        }
    }
    .hero-turquoise {
        flex: 1;
        background-color: var(--turquoise-100);
        border-radius: 1.875rem;
        padding: 1.875rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        span {
            @media (max-width: 48rem) {
                display: none;
            }
        }
        .call-to-action {
            margin-top: 1.25rem;
            margin-bottom: 0.625rem;
            a {
                margin-right: 0.625rem;
                margin-left: 0.625rem;
            }
        }
        .social-links {
            margin-top: 1.25rem;
            margin-bottom: 0.625rem;
            a {
                margin-right: 0.625rem;
                margin-left: 0.625rem;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.logos {
    background-color: var(--base-100);
    border-radius: 1.875rem;
    padding: 1.875rem 0;
    @media (max-width: 64rem) {
        border-radius: 0;
    }
    .marquee {
        width: 100vw;
        max-width: 100%;
        height: 8rem;
        overflow: hidden;
        position: relative;
        .track {
            position: absolute;
            white-space: nowrap;
            will-change: transform;
            animation: marquee 40s linear infinite;
            display: flex;
            gap: 0.625rem;
        }
    }
}

@keyframes marquee {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(-50%);
    }
}

h2 {
    font-size: 4rem;
    line-height: 1;
    margin-bottom: 0.625rem;
    text-align: center;
    color: var(--base-800);
    padding: 1.875rem;
    small {
        display: block;
        font-weight: 100;
        font-size: 0.5em;
        color: var(--base-800)
    }
    @media (max-width: 64rem) {
        font-size: 3rem;
    }
}

h3 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 1.25rem;
    color: var(--base-800);
}

.skills {
    .holder-turquoise {
        background-color: var(--turquoise-100);
        border-radius: 1.875rem;
        padding: 1.875rem;
        display: flex;
        @media (max-width: 64rem) {
            flex-direction: column;
        }
        .left-column {
            flex: 1;
            ul {
                list-style: none;
                gap: 0.625rem;
                margin-right: 6.25rem;
                margin-bottom: 1.25rem;
                li {
                    display: inline-block;
                    background-color: var(--turquoise-400);
                    padding: 0.625rem 1.25rem;
                    border-radius: 1rem;
                    margin-bottom: 0.625rem;
                }
            }
        }
        .right-column {
            flex: 1;
            p {
                margin-bottom: 1.25rem;
            }
        }
    }
}

.work-experience {
    .jobs {
        display: flex;
        gap: 1.875rem;
        @media (max-width: 64rem) {
            flex-direction: column;
        }
        article {
            background-color: var(--crimosn-100);
            padding: 1.875rem;
            border-radius: 1.875rem;
            flex: 1;
            h3 {
                margin-top: 1.25rem;
                margin-bottom: 0.625rem;
            }
            div {
                font-weight: 600;
                margin-bottom: 0.3125rem;
                color: var(--base-800);
            }
            p {
                margin-bottom: 0.625rem;
            }
            figure {
                width: 100%;
                padding-top: 56.25%;
                overflow: hidden;
                position: relative;
                border-radius: 1rem;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    object-fit: cover;
                    transition: ease 3s all;
                }
                figcaption {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: rgba(0, 0, 0, 0.5);
                    color: var(--base-100);
                    text-align: center;
                    padding: 0.625rem;
                    opacity: 0;
                    visibility: hidden;
                    transform: ease 0.3s all;
                }
                &:hover {
                    figcaption {
                        opacity: 1;
                        visibility: visible;
                    }
                    img {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}